# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Caze Mattan\University\2nd year\3rd semester\courses\SPL\Project2\Assignment\Moodle files\Assignment2Patched\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
